@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body2 {
  min-height: 100vh;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-color: #042743; */
}
.all {
  width: 85%;
  /* background: #fff; */
  border-radius: 6px;
  /* border: #3e2093 2px solid; */
  padding: 20px 60px 30px 40px;
  margin-left: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.all .allone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #5029bc; */
}
.all .allone .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.allone .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  /* background: #afafb6; */
}
.allone .left-side .details {
  margin: 14px;
  text-align: center;
}
.allone .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.allone .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.allone .left-side .details .text-one,
.allone .left-side .details .text-two {
  font-size: 14px;
}
.all .allone .right-side {
  width: 75%;
  margin-left: 75px;
}
.all .allone .right-side p {
  padding: 10px;
  font-size: 18px;
}
.allone .right-side .topic-text {
  font-size: 40px;
  font-weight: 600;
  border-bottom: black 5px solid;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .all {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .all .allone .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .all {
    margin: 40px 0;
    height: 100%;
  }
  .all .allone {
    flex-direction: column-reverse;
  }
  .all .allone .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .all .allone .left-side::before {
    display: none;
  }
  .all .allone .right-side {
    width: 100%;
    margin-left: 0;
  }
}
